Executor/VMServiceInterlayerManager/Service References/VBmanager/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5666/VManager/VManagerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.VManager.DataTypes" />
  <xs:import schemaLocation="http://localhost:5666/VManager/VManagerService/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetHosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.VManager.DataTypes" minOccurs="0" name="GetHostsResult" nillable="true" type="q1:ArrayOfHost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.VManager.DataTypes" minOccurs="0" name="parameters" type="q2:HostConnectionParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common.VManager.DataTypes" minOccurs="0" name="AddHostResult" nillable="true" type="q3:Host" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostsMachines">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostsMachinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common.VManager.DataTypes" minOccurs="0" name="GetHostsMachinesResult" nillable="true" type="q4:ArrayOfMachine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common.VManager.DataTypes" minOccurs="0" name="GetMachineStateResult" nillable="true" type="q5:Machine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToHost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToHostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectToHostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectFromHost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectFromHostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectFromHostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGuestOSRunning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGuestOSRunningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsGuestOSRunningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q6:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMachineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartMachineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartMachineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestartMachineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendMachineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuspendMachineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WakeMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WakeMachineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WakeMachineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopMachineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrivers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDriversResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>