Executor/Scheduler/Scheduler/Service References/Flow/FlowSystemService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://escience.ifmo.ru/easis/workflows/" elementFormDefault="qualified" targetNamespace="http://escience.ifmo.ru/easis/workflows/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.1/Workflow/FlowSystemService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Easis.Common.DataContracts" />
  <xs:import schemaLocation="http://192.168.4.1/Workflow/FlowSystemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="PushJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Easis.Common.DataContracts" minOccurs="0" name="jobRequest" nillable="true" type="q1:JobRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PushJobResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Control">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="WfId" type="q3:guid" />
        <xs:element minOccurs="0" name="blockId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="wfId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Easis.Common.DataContracts" minOccurs="0" name="GetJobDescriptionResult" nillable="true" type="q5:JobDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobDescriptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobDescriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Easis.Common.DataContracts" minOccurs="0" name="GetJobDescriptionsResult" nillable="true" type="q6:ArrayOfJobDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLongRunningTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLongRunningTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Easis.Common.DataContracts" minOccurs="0" name="GetLongRunningTasksResult" nillable="true" type="q7:ArrayOfLongRunningTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>