Executor/ServiceProxies/Service References/RightsService/RightsProviderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://clavire.org/contracts/" elementFormDefault="qualified" targetNamespace="http://clavire.org/contracts/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://stend_win/Rights/RightsProviderService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Easis.Testing" />
  <xs:element name="CheckHealth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckHealthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Easis.Testing" minOccurs="0" name="CheckHealthResult" nillable="true" type="q1:HealthState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>