Executor/ServiceProxies/Service References/StatGlobalCache/StatisticCacheService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://escience.ifmo.ru/nano/services/" elementFormDefault="qualified" targetNamespace="http://escience.ifmo.ru/nano/services/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8750/StatisticCacheService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddAllTaskInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q1:ArrayOfKeyValueOfunsignedLongTaskStatInfo0e_SqdQKS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAllTaskInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAllResourcesInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q2:ArrayOfKeyValueOfstringArrayOfKeyValueOfstringArrayOfNodeInfo4_PWZJtGAty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfNodeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodeInfo" nillable="true" type="tns:NodeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodeInfo" nillable="true" type="tns:ArrayOfNodeInfo" />
  <xs:complexType name="NodeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiskAvailableFreeSpace" type="xs:long" />
      <xs:element minOccurs="0" name="DiskUsage" type="xs:double" />
      <xs:element minOccurs="0" name="MemAvailable" type="xs:double" />
      <xs:element minOccurs="0" name="MemUsage" type="xs:double" />
      <xs:element minOccurs="0" name="Net" type="xs:double" />
      <xs:element minOccurs="0" name="Offline" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcUsage" type="xs:double" />
      <xs:element minOccurs="0" name="SandBoxTotalSize" type="xs:long" />
      <xs:element minOccurs="0" name="TimeSnapshot" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeInfo" nillable="true" type="tns:NodeInfo" />
  <xs:element name="AddAllResourcesInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>