Executor/ServiceProxies/Service References/StatGlobalCache/StatisticCacheService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://escience.ifmo.ru/nano/services/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://escience.ifmo.ru/nano/services/" location="http://localhost:8750/StatisticCacheService?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8750/StatisticCacheService?xsd=xsd5" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8750/StatisticCacheService?xsd=xsd0" namespace="http://escience.ifmo.ru/nano/services/" />
      <xsd:import schemaLocation="http://localhost:8750/StatisticCacheService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8750/StatisticCacheService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8750/StatisticCacheService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonDataTypes" />
      <xsd:import schemaLocation="http://localhost:8750/StatisticCacheService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CommonDataTypes.RExService.Service.Entity.Info" />
      <xsd:import schemaLocation="http://localhost:8750/StatisticCacheService?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStatisticalService_GetAllTaskInfoStartedWith_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTaskInfoStartedWith" />
  </wsdl:message>
  <wsdl:message name="IStatisticalService_GetAllTaskInfoStartedWith_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTaskInfoStartedWithResponse" />
  </wsdl:message>
  <wsdl:message name="IStatisticalService_GetTaskAllInfoStartedWith_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskAllInfoStartedWith" />
  </wsdl:message>
  <wsdl:message name="IStatisticalService_GetTaskAllInfoStartedWith_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskAllInfoStartedWithResponse" />
  </wsdl:message>
  <wsdl:message name="IStatisticalService_GetAllResourcesInfoStartedWith_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResourcesInfoStartedWith" />
  </wsdl:message>
  <wsdl:message name="IStatisticalService_GetAllResourcesInfoStartedWith_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResourcesInfoStartedWithResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveFilesService_GetAllResourcesInfoBetween_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResourcesInfoBetween" />
  </wsdl:message>
  <wsdl:message name="IArchiveFilesService_GetAllResourcesInfoBetween_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResourcesInfoBetweenResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveFilesService_GetAllTasksInfoBetween_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksInfoBetween" />
  </wsdl:message>
  <wsdl:message name="IArchiveFilesService_GetAllTasksInfoBetween_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksInfoBetweenResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveFilesService_GetArchiveFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveFile" />
  </wsdl:message>
  <wsdl:message name="IArchiveFilesService_GetArchiveFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IStatisticalService">
    <wsdl:operation name="GetAllTaskInfoStartedWith">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatisticalService/GetAllTaskInfoStartedWith" message="tns:IStatisticalService_GetAllTaskInfoStartedWith_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatisticalService/GetAllTaskInfoStartedWithResponse" message="tns:IStatisticalService_GetAllTaskInfoStartedWith_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskAllInfoStartedWith">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatisticalService/GetTaskAllInfoStartedWith" message="tns:IStatisticalService_GetTaskAllInfoStartedWith_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatisticalService/GetTaskAllInfoStartedWithResponse" message="tns:IStatisticalService_GetTaskAllInfoStartedWith_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllResourcesInfoStartedWith">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatisticalService/GetAllResourcesInfoStartedWith" message="tns:IStatisticalService_GetAllResourcesInfoStartedWith_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatisticalService/GetAllResourcesInfoStartedWithResponse" message="tns:IStatisticalService_GetAllResourcesInfoStartedWith_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IArchiveFilesService">
    <wsdl:operation name="GetAllResourcesInfoBetween">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveFilesService/GetAllResourcesInfoBetween" message="tns:IArchiveFilesService_GetAllResourcesInfoBetween_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveFilesService/GetAllResourcesInfoBetweenResponse" message="tns:IArchiveFilesService_GetAllResourcesInfoBetween_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksInfoBetween">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveFilesService/GetAllTasksInfoBetween" message="tns:IArchiveFilesService_GetAllTasksInfoBetween_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveFilesService/GetAllTasksInfoBetweenResponse" message="tns:IArchiveFilesService_GetAllTasksInfoBetween_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveFilesService/GetArchiveFile" message="tns:IArchiveFilesService_GetArchiveFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveFilesService/GetArchiveFileResponse" message="tns:IArchiveFilesService_GetArchiveFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="stdCacheReceiver" type="i0:IStatisticalGlobalCache">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAllTaskInfo">
      <soap:operation soapAction="http://escience.ifmo.ru/nano/services/IStatisticalGlobalCache/AddAllTaskInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAllResourcesInfo">
      <soap:operation soapAction="http://escience.ifmo.ru/nano/services/IStatisticalGlobalCache/AddAllResourcesInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="globalCache" type="tns:IStatisticalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTaskInfoStartedWith">
      <soap:operation soapAction="http://tempuri.org/IStatisticalService/GetAllTaskInfoStartedWith" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskAllInfoStartedWith">
      <soap:operation soapAction="http://tempuri.org/IStatisticalService/GetTaskAllInfoStartedWith" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllResourcesInfoStartedWith">
      <soap:operation soapAction="http://tempuri.org/IStatisticalService/GetAllResourcesInfoStartedWith" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="filesArchive" type="tns:IArchiveFilesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllResourcesInfoBetween">
      <soap:operation soapAction="http://tempuri.org/IArchiveFilesService/GetAllResourcesInfoBetween" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksInfoBetween">
      <soap:operation soapAction="http://tempuri.org/IArchiveFilesService/GetAllTasksInfoBetween" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveFile">
      <soap:operation soapAction="http://tempuri.org/IArchiveFilesService/GetArchiveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>