Executor/ServiceProxies/Service References/StatGlobalCache/StatisticCacheService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8750/StatisticCacheService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8750/StatisticCacheService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonDataTypes" />
  <xs:import schemaLocation="http://localhost:8750/StatisticCacheService?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetAllTaskInfoStartedWith">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTaskInfoStartedWithResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllTaskInfoStartedWithResult" nillable="true" type="q1:ArrayOfKeyValueOfunsignedLongTaskStatInfo0e_SqdQKS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskAllInfoStartedWith">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskAllInfoStartedWithResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonDataTypes" minOccurs="0" name="GetTaskAllInfoStartedWithResult" nillable="true" type="q2:TaskStatInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResourcesInfoStartedWith">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResourcesInfoStartedWithResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllResourcesInfoStartedWithResult" nillable="true" type="q3:ArrayOfKeyValueOfstringArrayOfKeyValueOfstringArrayOfNodeInfo4_PWZJtGAty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResourcesInfoBetween">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResourcesInfoBetweenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommonDataTypes" minOccurs="0" name="GetAllResourcesInfoBetweenResult" nillable="true" type="q4:ArchiveFilesTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTasksInfoBetween">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTasksInfoBetweenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommonDataTypes" minOccurs="0" name="GetAllTasksInfoBetweenResult" nillable="true" type="q5:ArchiveFilesTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="GetArchiveFileResult" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>