Executor/ServiceProxies/Service References/StatGlobalCache/StatisticCacheService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonDataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonDataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8750/StatisticCacheService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TaskStatInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProcessInfoCollection" nillable="true" type="q1:ArrayOfKeyValueOfstringArrayOfProcessStatInfo7FRmZwMG" />
      <xs:element minOccurs="0" name="ResourceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskStatInfo" nillable="true" type="tns:TaskStatInfo" />
  <xs:complexType name="ArchiveFilesTicket">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FileNames" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchiveFilesTicket" nillable="true" type="tns:ArchiveFilesTicket" />
</xs:schema>