Executor/ServiceProxies/Service References/SchedulerService/SchedulerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58524/SchedulerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scheduler" />
  <xs:import schemaLocation="http://localhost:58524/SchedulerService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Scheduler.Estimated" />
  <xs:import schemaLocation="http://localhost:58524/SchedulerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Reschedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Scheduler" minOccurs="0" name="workflow" nillable="true" type="q1:TaskScheduler.Workflow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RescheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Scheduler" minOccurs="0" name="RescheduleResult" nillable="true" type="q2:TaskScheduler.LaunchPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RescheduleEstimated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Scheduler.Estimated" minOccurs="0" name="workflow" nillable="true" type="q3:EstimatedWorkflow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RescheduleEstimatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Scheduler.Estimated" minOccurs="0" name="RescheduleEstimatedResult" nillable="true" type="q4:LaunchPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTestWF">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTestWFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Scheduler" minOccurs="0" name="CreateTestWFResult" nillable="true" type="q5:TaskScheduler.Workflow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RescheduleUrgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Scheduler" minOccurs="0" name="workflow" nillable="true" type="q6:TaskScheduler.UrgentWorkflow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RescheduleUrgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Scheduler" minOccurs="0" name="RescheduleUrgentResult" nillable="true" type="q7:TaskScheduler.LaunchPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUrgentTestWF">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUrgentTestWFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Scheduler" minOccurs="0" name="CreateUrgentTestWFResult" nillable="true" type="q8:TaskScheduler.UrgentWorkflow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClusterNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClusterNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetClusterNamesResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAppNamesResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultUHName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultUHNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDefaultUHNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUHNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUHNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUHNamesResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultUHName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultUHNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultHName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultHNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDefaultHNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHNamesResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultHName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultHNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>