Executor/ServiceProxies/Service References/EventingService/EventingBrokerService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://escience.ifmo.ru/easis/eventing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://escience.ifmo.ru/nano/services/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventingBrokerService" targetNamespace="http://escience.ifmo.ru/easis/eventing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://escience.ifmo.ru/nano/services/" location="http://192.168.4.1/Eventing/EventingBrokerService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://escience.ifmo.ru/easis/eventing/Imports">
      <xsd:import schemaLocation="http://192.168.4.1/Eventing/EventingBrokerService.svc?xsd=xsd0" namespace="http://escience.ifmo.ru/easis/eventing" />
      <xsd:import schemaLocation="http://192.168.4.1/Eventing/EventingBrokerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.4.1/Eventing/EventingBrokerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Eventing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventingBrokerService_FireEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:FireEvent" />
  </wsdl:message>
  <wsdl:message name="IEventingBrokerService_FireEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:FireEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventingBrokerService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IEventingBrokerService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IEventingBrokerService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IEventingBrokerService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IEventingBrokerService_GetActiveSubscriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveSubscriptions" />
  </wsdl:message>
  <wsdl:message name="IEventingBrokerService_GetActiveSubscriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventingBrokerService">
    <wsdl:operation name="FireEvent">
      <wsdl:input wsaw:Action="http://escience.ifmo.ru/easis/eventing/IEventingBrokerService/FireEvent" message="tns:IEventingBrokerService_FireEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://escience.ifmo.ru/easis/eventing/IEventingBrokerService/FireEventResponse" message="tns:IEventingBrokerService_FireEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://escience.ifmo.ru/easis/eventing/IEventingBrokerService/Subscribe" message="tns:IEventingBrokerService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://escience.ifmo.ru/easis/eventing/IEventingBrokerService/SubscribeResponse" message="tns:IEventingBrokerService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://escience.ifmo.ru/easis/eventing/IEventingBrokerService/Unsubscribe" message="tns:IEventingBrokerService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://escience.ifmo.ru/easis/eventing/IEventingBrokerService/UnsubscribeResponse" message="tns:IEventingBrokerService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveSubscriptions">
      <wsdl:input wsaw:Action="http://escience.ifmo.ru/easis/eventing/IEventingBrokerService/GetActiveSubscriptions" message="tns:IEventingBrokerService_GetActiveSubscriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://escience.ifmo.ru/easis/eventing/IEventingBrokerService/GetActiveSubscriptionsResponse" message="tns:IEventingBrokerService_GetActiveSubscriptions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="EventingBrokerService">
    <wsdl:port name="ebs" binding="i0:ebs">
      <soap:address location="http://192.168.4.1/Eventing/EventingBrokerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>