Executor/Scheduler/Scheduler/Service References/Execution/ExecutionBrokerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.4.1/Execution/ExecutionBrokerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.4.1/Execution/ExecutionBrokerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.4.1/Execution/ExecutionBrokerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MITP" />
      <xsd:import schemaLocation="http://192.168.4.1/Execution/ExecutionBrokerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExecutionBrokerService_MagicHappens_InputMessage">
    <wsdl:part name="parameters" element="tns:MagicHappens" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_MagicHappens_OutputMessage">
    <wsdl:part name="parameters" element="tns:MagicHappensResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_Define_InputMessage">
    <wsdl:part name="parameters" element="tns:Define" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_Define_OutputMessage">
    <wsdl:part name="parameters" element="tns:DefineResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_DefineTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DefineTask" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_DefineTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DefineTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_DefineDependencies_InputMessage">
    <wsdl:part name="parameters" element="tns:DefineDependencies" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_DefineDependencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:DefineDependenciesResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_Abort_InputMessage">
    <wsdl:part name="parameters" element="tns:Abort" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_Abort_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbortResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_GetInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_GetInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_GetBriefTaskList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBriefTaskList" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_GetBriefTaskList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBriefTaskListResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_GetNewTaskId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewTaskId" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_GetNewTaskId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewTaskIdResponse" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IExecutionBrokerService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IExecutionBrokerService">
    <wsdl:operation name="MagicHappens">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutionBrokerService/MagicHappens" message="tns:IExecutionBrokerService_MagicHappens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutionBrokerService/MagicHappensResponse" message="tns:IExecutionBrokerService_MagicHappens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Define">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutionBrokerService/Define" message="tns:IExecutionBrokerService_Define_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutionBrokerService/DefineResponse" message="tns:IExecutionBrokerService_Define_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefineTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutionBrokerService/DefineTask" message="tns:IExecutionBrokerService_DefineTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutionBrokerService/DefineTaskResponse" message="tns:IExecutionBrokerService_DefineTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefineDependencies">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutionBrokerService/DefineDependencies" message="tns:IExecutionBrokerService_DefineDependencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutionBrokerService/DefineDependenciesResponse" message="tns:IExecutionBrokerService_DefineDependencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutionBrokerService/Execute" message="tns:IExecutionBrokerService_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutionBrokerService/ExecuteResponse" message="tns:IExecutionBrokerService_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Abort">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutionBrokerService/Abort" message="tns:IExecutionBrokerService_Abort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutionBrokerService/AbortResponse" message="tns:IExecutionBrokerService_Abort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutionBrokerService/GetInfo" message="tns:IExecutionBrokerService_GetInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutionBrokerService/GetInfoResponse" message="tns:IExecutionBrokerService_GetInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBriefTaskList">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutionBrokerService/GetBriefTaskList" message="tns:IExecutionBrokerService_GetBriefTaskList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutionBrokerService/GetBriefTaskListResponse" message="tns:IExecutionBrokerService_GetBriefTaskList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewTaskId">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutionBrokerService/GetNewTaskId" message="tns:IExecutionBrokerService_GetNewTaskId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutionBrokerService/GetNewTaskIdResponse" message="tns:IExecutionBrokerService_GetNewTaskId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecutionBrokerService/Update" message="tns:IExecutionBrokerService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecutionBrokerService/UpdateResponse" message="tns:IExecutionBrokerService_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExecutionBrokerService" type="tns:IExecutionBrokerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MagicHappens">
      <soap:operation soapAction="http://tempuri.org/IExecutionBrokerService/MagicHappens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Define">
      <soap:operation soapAction="http://tempuri.org/IExecutionBrokerService/Define" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefineTask">
      <soap:operation soapAction="http://tempuri.org/IExecutionBrokerService/DefineTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefineDependencies">
      <soap:operation soapAction="http://tempuri.org/IExecutionBrokerService/DefineDependencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/IExecutionBrokerService/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Abort">
      <soap:operation soapAction="http://tempuri.org/IExecutionBrokerService/Abort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap:operation soapAction="http://tempuri.org/IExecutionBrokerService/GetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBriefTaskList">
      <soap:operation soapAction="http://tempuri.org/IExecutionBrokerService/GetBriefTaskList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewTaskId">
      <soap:operation soapAction="http://tempuri.org/IExecutionBrokerService/GetNewTaskId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IExecutionBrokerService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>