Executor/Scheduler/Scheduler/Service References/Execution/ExecutionBrokerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.1/Execution/ExecutionBrokerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MITP" />
  <xs:import schemaLocation="http://192.168.4.1/Execution/ExecutionBrokerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="MagicHappens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MagicHappensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MagicHappensResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Define">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="tasks" nillable="true" type="q1:ArrayOfTaskDescription" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="dependencies" nillable="true" type="q2:ArrayOfTaskDependency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DefineTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="task" nillable="true" type="q3:TaskDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefineTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DefineDependencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="dependencies" nillable="true" type="q4:ArrayOfTaskDependency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefineDependenciesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="taskIds" nillable="true" type="q5:ArrayOfunsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Abort">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="taskId" nillable="true" type="q6:ArrayOfunsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="GetInfoResult" nillable="true" type="q7:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBriefTaskList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBriefTaskListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="GetBriefTaskListResult" nillable="true" type="q8:ArrayOfBriefTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewTaskId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewTaskIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewTaskIdResult" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>