Executor/ServiceProxies/Service References/PackageInstallationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PackageInstallationService" />
  <xs:element name="GetPackagesInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PackageInstallationService" minOccurs="0" name="GetPackagesInfoResult" nillable="true" type="q1:ArrayOfPackageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallPackageToNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="farmName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PackageInstallationService" minOccurs="0" name="choice" nillable="true" type="q2:PackageInfo.PackageChoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallPackageToNodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PackageInstallationService" minOccurs="0" name="result" nillable="true" type="q3:TicketResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>