Executor/ServiceProxies/Service References/ResourceBaseService/ResourceBaseService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61095/ResourceBaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MITP" />
  <xs:import schemaLocation="http://localhost:61095/ResourceBaseService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllResources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="GetAllResourcesResult" nillable="true" type="q1:ArrayOfResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetResourceNamesResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="GetResourceByNameResult" nillable="true" type="q3:Resource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNodeNamesResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceNodeByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceNodeByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="GetResourceNodeByNameResult" nillable="true" type="q5:ResourceNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesForFarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="farmId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dumpingKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesForFarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="GetResourcesForFarmResult" nillable="true" type="q6:ArrayOfResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInstalledPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="pack" nillable="true" type="q7:PackageOnNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInstalledPackageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveInstalledPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="packName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveInstalledPackageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewNodeToResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="node" nillable="true" type="q8:ResourceNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewNodeToResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNodeFromResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNodeFromResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetResourceListResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResourceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveResourceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsResourceAlreadyExisted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsResourceAlreadyExistedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsResourceAlreadyExistedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResourceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPResourceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPResourceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPResourceListResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPResourceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePResourceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePResourceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPResourceAlreadyExisted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPResourceAlreadyExistedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPResourceAlreadyExistedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>