Executor/Watchina/Service References/ResourceBaseService/ResourceBaseService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3904/ResourceBaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MITP" />
  <xs:import schemaLocation="http://localhost:3904/ResourceBaseService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllResources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="GetAllResourcesResult" nillable="true" type="q1:ArrayOfResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetResourceNamesResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="GetResourceByNameResult" nillable="true" type="q3:Resource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceNodeByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceNodeByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MITP" minOccurs="0" name="GetResourceNodeByNameResult" nillable="true" type="q4:ResourceNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>