Executor/Watchina/Service References/ResourceBaseService/ResourceBaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ResourceBaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3904/ResourceBaseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3904/ResourceBaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3904/ResourceBaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MITP" />
      <xsd:import schemaLocation="http://localhost:3904/ResourceBaseService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IResourceBaseService_GetAllResources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResources" />
  </wsdl:message>
  <wsdl:message name="IResourceBaseService_GetAllResources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceBaseService_GetResourceNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceNames" />
  </wsdl:message>
  <wsdl:message name="IResourceBaseService_GetResourceNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceBaseService_GetResourceByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceByName" />
  </wsdl:message>
  <wsdl:message name="IResourceBaseService_GetResourceByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceBaseService_GetResourceNodeByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceNodeByName" />
  </wsdl:message>
  <wsdl:message name="IResourceBaseService_GetResourceNodeByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceNodeByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IResourceBaseService">
    <wsdl:operation name="GetAllResources">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceBaseService/GetAllResources" message="tns:IResourceBaseService_GetAllResources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceBaseService/GetAllResourcesResponse" message="tns:IResourceBaseService_GetAllResources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceBaseService/GetResourceNames" message="tns:IResourceBaseService_GetResourceNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceBaseService/GetResourceNamesResponse" message="tns:IResourceBaseService_GetResourceNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceBaseService/GetResourceByName" message="tns:IResourceBaseService_GetResourceByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceBaseService/GetResourceByNameResponse" message="tns:IResourceBaseService_GetResourceByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceNodeByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceBaseService/GetResourceNodeByName" message="tns:IResourceBaseService_GetResourceNodeByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceBaseService/GetResourceNodeByNameResponse" message="tns:IResourceBaseService_GetResourceNodeByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IResourceBaseService" type="tns:IResourceBaseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllResources">
      <soap:operation soapAction="http://tempuri.org/IResourceBaseService/GetAllResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceNames">
      <soap:operation soapAction="http://tempuri.org/IResourceBaseService/GetResourceNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceByName">
      <soap:operation soapAction="http://tempuri.org/IResourceBaseService/GetResourceByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceNodeByName">
      <soap:operation soapAction="http://tempuri.org/IResourceBaseService/GetResourceNodeByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResourceBaseService">
    <wsdl:port name="BasicHttpBinding_IResourceBaseService" binding="tns:BasicHttpBinding_IResourceBaseService">
      <soap:address location="http://localhost:3904/ResourceBaseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>