Executor/ResourceBaseService/Service References/UmService/UserManagementService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Clavire.Uri.Util" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Clavire.Uri.Util" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.2/UMService/UserManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.4.2/UMService/UserManagementService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfClavireUri">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClavireUri" nillable="true" type="tns:ClavireUri" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClavireUri" nillable="true" type="tns:ArrayOfClavireUri" />
  <xs:complexType name="ClavireUri">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parents" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Root" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClavireUri" nillable="true" type="tns:ClavireUri" />
</xs:schema>