Executor/ControllerFarmHost/Service References/ExecutionBrokerService/ExecutionBrokerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Easis.PackageBase.Definition" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Easis.PackageBase.Definition" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ModelEstimation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculationTime" nillable="true" type="tns:ValueWithDispersionOfdouble" />
      <xs:element minOccurs="0" name="TotalOutputFileSize" nillable="true" type="tns:ValueWithDispersionOfunsignedLong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelEstimation" nillable="true" type="tns:ModelEstimation" />
  <xs:complexType name="ValueWithDispersionOfdouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueWithDispersionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Easis.PackageBase.Definition" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Dispersion" type="xs:double" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueWithDispersionOfdouble" nillable="true" type="tns:ValueWithDispersionOfdouble" />
  <xs:complexType name="ValueWithDispersionOfunsignedLong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueWithDispersionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Easis.PackageBase.Definition" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="unsignedLong" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Dispersion" type="xs:double" />
      <xs:element minOccurs="0" name="Value" type="xs:unsignedLong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueWithDispersionOfunsignedLong" nillable="true" type="tns:ValueWithDispersionOfunsignedLong" />
</xs:schema>