Executor/ServiceProxies/Service References/RExInstallationService/Installation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InstallPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="farmId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uniqueKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileNameOfUploadedfile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstallPackageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>