Executor/ServiceProxies/Service References/RExService/ExecuteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExecuteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8740/RExService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8740/RExService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8740/RExService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExecuteService_ExecuteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteTask" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_ExecuteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_ExecuteTaskOnFarm_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteTaskOnFarm" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_ExecuteTaskOnFarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteTaskOnFarmResponse" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_IsTaskRunning_InputMessage">
    <wsdl:part name="parameters" element="tns:IsTaskRunning" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_IsTaskRunning_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsTaskRunningResponse" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_StopTaskRunning_InputMessage">
    <wsdl:part name="parameters" element="tns:StopTaskRunning" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_StopTaskRunning_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopTaskRunningResponse" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_CopyOnStartPaths_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyOnStartPaths" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_CopyOnStartPaths_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyOnStartPathsResponse" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_GetAllFileNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFileNames" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_GetAllFileNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFileNamesResponse" />
  </wsdl:message>
  <wsdl:portType name="IExecuteService">
    <wsdl:operation name="ExecuteTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecuteService/ExecuteTask" message="tns:IExecuteService_ExecuteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecuteService/ExecuteTaskResponse" message="tns:IExecuteService_ExecuteTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteTaskOnFarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecuteService/ExecuteTaskOnFarm" message="tns:IExecuteService_ExecuteTaskOnFarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecuteService/ExecuteTaskOnFarmResponse" message="tns:IExecuteService_ExecuteTaskOnFarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsTaskRunning">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecuteService/IsTaskRunning" message="tns:IExecuteService_IsTaskRunning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecuteService/IsTaskRunningResponse" message="tns:IExecuteService_IsTaskRunning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopTaskRunning">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecuteService/StopTaskRunning" message="tns:IExecuteService_StopTaskRunning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecuteService/StopTaskRunningResponse" message="tns:IExecuteService_StopTaskRunning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyOnStartPaths">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecuteService/CopyOnStartPaths" message="tns:IExecuteService_CopyOnStartPaths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecuteService/CopyOnStartPathsResponse" message="tns:IExecuteService_CopyOnStartPaths_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFileNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecuteService/GetAllFileNames" message="tns:IExecuteService_GetAllFileNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecuteService/GetAllFileNamesResponse" message="tns:IExecuteService_GetAllFileNames_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="stdRExecution" type="tns:IExecuteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteTask">
      <soap:operation soapAction="http://tempuri.org/IExecuteService/ExecuteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteTaskOnFarm">
      <soap:operation soapAction="http://tempuri.org/IExecuteService/ExecuteTaskOnFarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsTaskRunning">
      <soap:operation soapAction="http://tempuri.org/IExecuteService/IsTaskRunning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTaskRunning">
      <soap:operation soapAction="http://tempuri.org/IExecuteService/StopTaskRunning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyOnStartPaths">
      <soap:operation soapAction="http://tempuri.org/IExecuteService/CopyOnStartPaths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFileNames">
      <soap:operation soapAction="http://tempuri.org/IExecuteService/GetAllFileNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExecuteService">
    <wsdl:port name="stdRExecution" binding="tns:stdRExecution">
      <soap:address location="http://localhost:8740/RExService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>