Executor/Farming/ControllerFarmService/Service References/ExtFileService/FileStreamService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileStreamService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IFileStreamService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8740/FileService?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8740/FileService?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8740/FileService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileStreamedMessage">
    <wsdl:part name="parameters" element="tns:FileStreamedMessage" />
  </wsdl:message>
  <wsdl:message name="FileStreamedMessage_Headers">
    <wsdl:part name="FarmId" element="tns:FarmId" />
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Id" element="tns:Id" />
  </wsdl:message>
  <wsdl:message name="IFileStreamService_SendFileAsStream_OutputMessage" />
  <wsdl:message name="ChunkedFileStreamedMessage">
    <wsdl:part name="parameters" element="tns:ChunkedFileStreamedMessage" />
  </wsdl:message>
  <wsdl:message name="ChunkedFileStreamedMessage_Headers">
    <wsdl:part name="ChunkSize" element="tns:ChunkSize" />
    <wsdl:part name="FarmId" element="tns:FarmId" />
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="FilePart" element="tns:FilePart" />
    <wsdl:part name="Id" element="tns:Id" />
  </wsdl:message>
  <wsdl:message name="IFileStreamService_SendFileChunkAsStream_OutputMessage" />
  <wsdl:message name="IFileStreamService_GetFileAsStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileAsStream" />
  </wsdl:message>
  <wsdl:message name="IFileStreamService_GetFileAsStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileAsStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IFileStreamService_GetFileChunkAsStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileChunkAsStream" />
  </wsdl:message>
  <wsdl:message name="IFileStreamService_GetFileChunkAsStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileChunkAsStreamResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileStreamService">
    <wsdl:operation name="SendFileAsStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileStreamService/SendFileAsStream" name="FileStreamedMessage" message="tns:FileStreamedMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileStreamService/SendFileAsStreamResponse" message="tns:IFileStreamService_SendFileAsStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFileChunkAsStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileStreamService/SendFileChunkAsStream" name="ChunkedFileStreamedMessage" message="tns:ChunkedFileStreamedMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileStreamService/SendFileChunkAsStreamResponse" message="tns:IFileStreamService_SendFileChunkAsStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileAsStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileStreamService/GetFileAsStream" message="tns:IFileStreamService_GetFileAsStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileStreamService/GetFileAsStreamResponse" message="tns:IFileStreamService_GetFileAsStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileChunkAsStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileStreamService/GetFileChunkAsStream" message="tns:IFileStreamService_GetFileChunkAsStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileStreamService/GetFileChunkAsStreamResponse" message="tns:IFileStreamService_GetFileChunkAsStream_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileStreamService" type="tns:IFileStreamService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IFileStreamService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendFileAsStream">
      <soap:operation soapAction="http://tempuri.org/IFileStreamService/SendFileAsStream" style="document" />
      <wsdl:input name="FileStreamedMessage">
        <soap:header message="tns:FileStreamedMessage_Headers" part="FarmId" use="literal" />
        <soap:header message="tns:FileStreamedMessage_Headers" part="FileName" use="literal" />
        <soap:header message="tns:FileStreamedMessage_Headers" part="Id" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFileChunkAsStream">
      <soap:operation soapAction="http://tempuri.org/IFileStreamService/SendFileChunkAsStream" style="document" />
      <wsdl:input name="ChunkedFileStreamedMessage">
        <soap:header message="tns:ChunkedFileStreamedMessage_Headers" part="ChunkSize" use="literal" />
        <soap:header message="tns:ChunkedFileStreamedMessage_Headers" part="FarmId" use="literal" />
        <soap:header message="tns:ChunkedFileStreamedMessage_Headers" part="FileName" use="literal" />
        <soap:header message="tns:ChunkedFileStreamedMessage_Headers" part="FilePart" use="literal" />
        <soap:header message="tns:ChunkedFileStreamedMessage_Headers" part="Id" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileAsStream">
      <soap:operation soapAction="http://tempuri.org/IFileStreamService/GetFileAsStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileChunkAsStream">
      <soap:operation soapAction="http://tempuri.org/IFileStreamService/GetFileChunkAsStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileStreamService">
    <wsdl:port name="BasicHttpBinding_IFileStreamService" binding="tns:BasicHttpBinding_IFileStreamService">
      <soap:address location="http://localhost:8740/FileService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>