Executor/ServiceProxies/Service References/UserManagementService/UserManagementService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.2/UMService/UserManagementService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.4.2/UMService/UserManagementService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Clavire.Uri.Util" />
  <xs:import schemaLocation="http://192.168.4.2/UMService/UserManagementService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UMService.ViewBean" />
  <xs:element name="CanAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rightUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanAccessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanAccessBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objUriList" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="rightUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanAccessBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CanAccessBatchResult" nillable="true" type="q2:ArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typeUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rightUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Clavire.Uri.Util" minOccurs="0" name="GetAccessibleResult" nillable="true" type="q3:ArrayOfClavireUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessibleFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objUris" nillable="true" type="q4:ArrayOfstring" />
        <xs:element minOccurs="0" name="rightUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessibleFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Clavire.Uri.Util" minOccurs="0" name="GetAccessibleFromResult" nillable="true" type="q5:ArrayOfClavireUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objUri" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rightUris" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="GetUsersResult" nillable="true" type="q7:ArrayOfUserView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPlatformuser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPlatformuserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPlatformuserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="user" nillable="true" type="q8:UserView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="GetGroupsResult" nillable="true" type="q9:ArrayOfGroupView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="group" nillable="true" type="q10:GroupView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserFromGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserFromGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="GetMembersResult" nillable="true" type="q11:ArrayOfUserView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberOf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberOfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="MemberOfResult" nillable="true" type="q12:ArrayOfGroupView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="GetTypesResult" nillable="true" type="q13:ArrayOfTypeView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="type" nillable="true" type="q14:TypeView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="GetAllRightsResult" nillable="true" type="q15:ArrayOfRightView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="right" nillable="true" type="q16:RightView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterRightResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rightId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRightResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypePossibleRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rightId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypePossibleRightResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTypePossibleRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rightId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTypePossibleRightResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypePossibleRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypePossibleRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="GetTypePossibleRightsResult" nillable="true" type="q17:ArrayOfRightView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectsTree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectsTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="GetObjectsTreeResult" nillable="true" type="q18:ObjectViewTree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="obj" nillable="true" type="q19:ObjectViewTree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPersonalAcl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPersonalAclResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="GetUserPersonalAclResult" nillable="true" type="q20:UserAclView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupPersonalAcl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupPersonalAclResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="GetGroupPersonalAclResult" nillable="true" type="q21:GroupAclView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInheritAcl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInheritAclResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="GetUserInheritAclResult" nillable="true" type="q22:UserAclView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupInheritAcl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupInheritAclResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="GetGroupInheritAclResult" nillable="true" type="q23:GroupAclView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFullAcl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFullAclResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/UMService.ViewBean" minOccurs="0" name="GetUserFullAclResult" nillable="true" type="q24:UserAclView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddtUserAcl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rightId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddtUserAclResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroupAcl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rightId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroupAclResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserAcl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rightId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserAclResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupAcl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rightId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupAclResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>