Executor/ServiceProxies/Service References/ControllerFarmService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ControllerFarmService.Installation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ControllerFarmService.Installation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InstallationTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderToInstall" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StorageAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallationTicket" nillable="true" type="tns:InstallationTicket" />
</xs:schema>