Executor/ServiceProxies/Service References/ControllerFarmService/item7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonDataTypes.RExService.Service.Entity.Info" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonDataTypes.RExService.Service.Entity.Info" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProcessStatInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Net" type="xs:long" />
      <xs:element minOccurs="0" name="PhysicalMem" type="xs:long" />
      <xs:element minOccurs="0" name="ProcUsage" type="xs:long" />
      <xs:element minOccurs="0" name="TimeSnapshot" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalProcTime" type="xs:long" />
      <xs:element minOccurs="0" name="WorkDirSize" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessStatInfo" nillable="true" type="tns:ProcessStatInfo" />
  <xs:complexType name="ArrayOfProcessStatInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessStatInfo" nillable="true" type="tns:ProcessStatInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessStatInfo" nillable="true" type="tns:ArrayOfProcessStatInfo" />
</xs:schema>